body {
    min-height: 100vh;
    background-image: linear-gradient(#E6E6FA,#B8E7FA);
    margin: 0px;
    padding: 0px;
}

* {
    font-family: "Poppins";
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF60;
    align-items: center;
    /* padding: 24px auto; */
    
}

#header-content{
        display: flex;
        justify-content: space-between;
        padding: 20px 70px;
        
}

#logo h3{
    font-weight: bolder;
    font-size: 28px;
}

#logo span{
    color: #FFA500;
}

.btn{
    background-image: linear-gradient(90deg,#FFA500,#FFD447);
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    color: #0D1321;
    margin-top: 20px;
    padding: 17px 24px;
    box-shadow: 0px 3px 3px gray;
}