body {
    min-height: 100vh;
    background-image: linear-gradient(#E6E6FA, #B8E7FA);
    margin: 0px;
    padding: 0px;
}

* {
    font-family: "Poppins";
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF60;
    align-items: center;
    /* padding: 24px auto; */

}

#header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    margin-left: 5px;

}

#logo h3 {
    font-weight: bolder;
    font-size: 28px;
}

#logo span {
    color: #FFA500;
}

.btn {
    background-image: linear-gradient(90deg, #FFA500, #FFD447);
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    color: #0D132190;
    margin-top: 20px;
    padding: 17px 24px;
    box-shadow: 0px 3px 3px gray;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-image: linear-gradient(90deg, #FFD447, #FFA500);
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#banner {
    width: 87.5%;
    margin: 100px auto 100px auto;
    background-color: #FFFFFF60;
}

#banner {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
}

.banner-story {
    text-align: center;
    height: 50%;
}

.banner-image {
    height: 50%;
}

.blog {
    width: 87.5%;
    margin: 100px auto 100px auto;
}

.blog-heading {
    text-align: center;
    padding: 0px 80px;
}

.blog-heading h4 {
    font-size: 32px;
    font-weight: bolder;
}

.blog-heading p {
    font-size: 16px;
    color: #0D1321;
}

.blog-card {
    background-color: #FFFFFF60;
    display: flex;
    padding: 20px;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    margin-top: 100px;
}

.blog-card-content h5 {
    font-size: 24px;
    font-weight: bold;
    color: #0D132190;
}

.blog-card-content p {
    font-size: 12px;
    color: #0D132170;
}

#inspiration-container {
    margin: 0px 200px 100px 200px;
}

.inspiration-heading h4 {
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
}

.inspiration-heading p {
    font-size: 16px;
    font-family: "Azeret Mono";
    text-align: center;
    color: #0D132190;
}

.inspiration-video {
    margin-top: 50px;
    text-align: center;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid;
    border-color: #0D132150;
    padding: 20px 0px 20px 0px;
}

.inspiration-video iframe {
    border-radius: 16px;
}

#target {
    width: 87.5%;
    margin: 100px auto 100px auto;
}

.target-heading {
    text-align: center;
    padding: 0px 80px;
}

.target-heading h4 {
    font-size: 32px;
    font-weight: bolder;
}

.target-heading p {
    font-size: 16px;
    color: #0D132180;
}

.target-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    background-image: linear-gradient(#E6E6FA, #B8E7FA);
    padding: 40px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 5px 5px 50px 5px rgb(157, 157, 157);
}

.link{
    color: black;
    font-weight: bold;
}

#footer-container{
    margin-top: 200px;
    background-color: #FFFFFF80;
    padding: 32px 150px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-text p{
    font-family: "Azeret Mono";
    font-size: 20px;
    text-align: center;
    color: #0D1321;
    font-weight: bold;
}

.footer-logos{
    align-items: center;
    gap: 40px;
    padding-top: 10px;
    display: flex;
}